In [2]:
Scores=[35,50,20,30,55,75,90,95,66,80,67]

In [3]:
num=Scores[0:11]
print(num)

[35, 50, 20, 30, 55, 75, 90, 95, 66, 80, 67]

In [4]:
for num in Scores:
    if num>60 and num<70:
        print("First Class")

First Class
First Class

In [5]:
for num in Scores:
    if num>70:
        print("Distinction")

Distinction
Distinction
Distinction
Distinction

In [40]:
for num in Scores:
    if num>=35 and num<=50:
        print("Just Pass")

Just Pass
Just Pass

In [6]:
for num in Scores:
    if num>=50 and num<=60:
        print("Second Class")

Second Class
Second Class

In [41]:
for num in Scores:
    if num<50:
        print("Fail")

Fail
Fail
Fail

In [43]:
i= {'Python':600, 'Java': 400, 'Web_Tech':550, 'OS': 450, 'IT': 700}
for x,y in i.items():
    if y>500:
        print(x)

Python
Web_Tech
IT

In [2]:
l = list()
for i in range(1,8):
    l.append(i**2)
print(l)

[1, 4, 9, 16, 25, 36, 49]

In [17]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [19]:
aLsit = [100, 200, 300, 400, 500]
aLsit.reverse()
print(aLsit)

[500, 400, 300, 200, 100]

In [20]:
#Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [24]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend(["h" ,"i" ,"j"])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [27]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#In the below dictionary contain Player name and game information, write a python code to print only cricket players from the dictionary

In [45]:
Player_game={'Sachin':'Cricket', 'Rahul': 'Cricket', 'Messi': 'Football', 'Federer': 'Tennis', 'Anand': 'Chess'}
for x,y in Player_game.items():
    if y=='Cricket':
        print(x)

Sachin
Rahul

In [37]:
list1 = [12, 15, 3, 10]
s=[i for i in list1]
print(sum(s))

40

In [40]:
List1= [1,2,4,5,10,20,4,5]
total = sum(List1)
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  51