In [1]:
1: Given a Python list you should be able to display Python list in the following order

In [61]:
aLsit = [100, 200, 300, 400, 500]

In [3]:
aLsit[::-1]

[500, 400, 300, 200, 100]

In [ ]:
2: Concatenate two lists index-wise

In [8]:
list1 = ["M", "na", "i", "ke"]
list2 = ["Y","me","s","lly"]
list3 = []
for i in range (len(list1)):
    list3.append(list1[i]+list2[i])
print(list3)

['MY', 'name', 'is', 'kelly']

In [ ]:
3: Given a Python list. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]

In [3]:
aList = [1, 2, 3, 4, 5, 6, 7]
aLsit=[int(aList[i])**2 for i in range(len(aList))]
print(aLsit)

[1, 4, 9, 16, 25, 36, 49]

In [21]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = [ x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
5: Given a two Python list. Iterate both lists simultaneously such that list1 should
display item in original order and list2 in reverse order

In [10]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range (0,4):
    for j in range(-1,-5):
        print(i)

In [ ]:
6: Remove empty strings from the list of strings

In [40]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
while "" in list1:
    list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
7: Add item 7000 after 6000 in the following Python List

In [46]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
8: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way
that it will look like the following list

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [50]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list1[2][1][2].extend(["h", "i", "j"])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200.
Only update the first occurrence of a value

In [56]:
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
10: Given a Python list, remove all occurrence of 20 from the list

In [60]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]